.welcomeNote{
    text-align: center;
    padding-top: 30vh;
    font-family: roboto slab;
    color: #3f3d56;
    font-size: 70px;
    padding-bottom: 30px;
}
.femhubb1{
width: 418px;
height:286 px;
}
.testt1{
    width: 418px;
    height:286px;
    
}
.black-illustration{
    text-align: center;
}