body{
	margin: 0px;
	padding: 0px;
	font-family:'poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
	background-color:#ffffff;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow: 0 8px 6px -6px #ccc;
	position: fixed;
	width: 100%;
}
.d-flex{
	display: flex;
}
.justify-between{
    justify-content: space-between;
}
div.brand{
	padding: 20px;
}
nav ul{
	list-style-type: none;
	margin-top: 20px;
}
nav ul li{
    display: inline-block;
	
}
nav ul li a{
	text-decoration: none;
	color: #f5f2f2;
	margin-right: 25px;
	transition: 1s all;
	font-weight: 900;
} 
nav ul li a.active{
	color: dodgerblue;	
} 
nav ul li a:hover{
	color: dodgerblue;
	transition: 1s all;
} 
nav ul li a i{
	margin-right: 5px;

}
.logo{
   width: 90px; 
   height: 30px;
}
.headerButton{
	border: #f5f2f2;
    border-radius: 5px;
    color: #01afef;
}
.foot{
    text-align: center;
	font-weight: bold;
	padding-top: 20px;
  }